@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
    background: -webkit-linear-gradient(to bottom, #f4f4f4, #fff); 
    background: linear-gradient(to bottom, #f4f4f4, #fff); 
    width: 100%;
    padding: 100px 0;
}

.banner-sec {
    background: url() no-repeat left bottom;
    background-size: cover;
    min-height: 100px;
    border-radius: 0 100px 100px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
}

.carousel-inner {
    border-radius: 0 50px 50px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 80px 80px;
    position: relative;
}

        .login-sec .copy-text i {
            color: #FEB58A;
        }

        /* Seccion de formulario (usaurio contrasenia)*/
    .login-sec h2 {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 25px;

    }

.btn-login {
    color: #fff;
    font-weight: 600;
}

